<div class='left'>
<a [routerLink]="['dashboard']">Go to Polls</a>
</div>
<router-outlet></router-outlet>  

<h4>{{displayInfo.question}}</h4>
<h5>Click the Vote button to choose one</h5>

<fieldset>
  <table>
    <tr>
      <th>Option</th>
      <th>Current Count of Votes</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>{{displayInfo.option1}}</td>
      <td>{{displayInfo.votesCount1}}</td>
      <td><button (click)='voteOption1(); voted = !voted' *ngIf=(!voted)>Vote</button></td>
    </tr> 
    <tr>
      <td>{{displayInfo.option2}}</td>
      <td>{{displayInfo.votesCount2}}</td>
      <td><button (click)='voteOption2(); voted = !voted' *ngIf=(!voted)>Vote</button></td>
    </tr> 
    <tr>
      <td>{{displayInfo.option3}}</td>
      <td>{{displayInfo.votesCount3}}</td>
      <td><button (click)='voteOption3(); voted = !voted' *ngIf=(!voted)>Vote</button></td>
    </tr> 
    <tr>
      <td>{{displayInfo.option4}}</td>
      <td>{{displayInfo.votesCount4}}</td>
      <td><button (click)='voteOption4(); voted = !voted' *ngIf=(!voted)>Vote</button></td>
    </tr> 
  </table>
</fieldset>