<div class='left'>
  <a [routerLink]="['create']">Create a New Poll</a>  
  <a [routerLink]="['']">Logout</a>
</div>

Current Polls:

<!-- <form class='left' (submit)='onSearch()'>
  <input type="text"
  name="search"
  placeholder="Search"
  required
  minlength="1"
  [(ngModel)]="box.search"
  >
</form> -->
<input [(ngModel)]="searchText" class='left' placeholder="search for questions">
<fieldset>
<table>
  <tr>
    <th>Name</th>
    <th>Survey Question</th>
    <th>Date Posted</th>
    <th>Action</th>
  </tr>
  
  <tr *ngFor='let x of allQuestions | filterPipe: searchText'>
    <td>{{x.creater}}</td>
    <td [routerLink]="['poll', x._id]" class="blueline">{{x.question}}</td>
    <td>{{x.createdAt | date:'medium'}}</td>
    <td><button *ngIf='x.creater.toLowerCase() == loggeduser.toLowerCase()' (click)='delete(x._id, x)'>Delete</button></td>
  </tr>

</table>
</fieldset>
<router-outlet></router-outlet>  