.right {
    /* text-align: right; */
    margin: 20px;
    margin-left: 700px;
    display: block;
    
}
.together {
    /* display: inline-block; */
    margin-left: 700px; 
}

.blueline {
    text-decoration: underline;
    color: blue;
}
td, th {
    padding: 10px;
}

fieldset{
    display: block;
}